In [2]:
#Now we'll elarn about reindexing

In [3]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [4]:
#Lets create a new series
ser1 = Series([1,2,3,4],index=['A','B','C','D'])

In [5]:
#Show
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [6]:
#Call reindex to rearrange the data to a new index
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [7]:
#Show
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [8]:
# We can alos fill in values for new indexes
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [9]:
#Using a particular method for filling values
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])

#Show
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [10]:
#Can use a forward fill for interploating values vetween indices 
ser3.reindex(range(15),method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [22]:
#Reindexing rows, columns or both

#Lets make a datafram ewith some random values
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])

#Show
dframe

       col1      col2      col3      col4      col5
A  2.494703  0.322835 -2.102498  0.762569 -0.304492
B -1.530755  0.723356  2.249641  1.491468  0.736579
D -0.950053  1.150216  0.914443  0.887306  1.185314
E -0.412306 -0.915389 -1.778008  0.643271  0.994059
F -1.423033  0.439230  0.027198  0.359547 -0.865396

In [12]:
#Notice we forgot 'C' , lets reindex it into dframe
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A  0.322313 -0.009871 -0.637438  0.433644  1.307341
B  1.043108 -1.490017  0.106839  0.213647 -0.958825
C       NaN       NaN       NaN       NaN       NaN
D  1.202643 -0.469508  0.454881  0.041893  2.370110
E -1.983409 -0.246701 -1.423109 -1.664198 -0.453252
F  0.399205 -0.476011  0.181032  0.474728  0.459404

In [13]:
#Can also explicitly reindex columns
new_columns = ['col1','col2','col3','col4','col5','col6']

dframe2.reindex(columns=new_columns, fill_value=0)

       col1      col2      col3      col4      col5  col6
A  0.322313 -0.009871 -0.637438  0.433644  1.307341     0
B  1.043108 -1.490017  0.106839  0.213647 -0.958825     0
C       NaN       NaN       NaN       NaN       NaN     0
D  1.202643 -0.469508  0.454881  0.041893  2.370110     0
E -1.983409 -0.246701 -1.423109 -1.664198 -0.453252     0
F  0.399205 -0.476011  0.181032  0.474728  0.459404     0

In [14]:
new_columns = ['col1','col2','col3','col4','col5','col6']
dframe2.reindex(columns=new_columns)
dframe2

       col1      col2      col3      col4      col5
A  0.322313 -0.009871 -0.637438  0.433644  1.307341
B  1.043108 -1.490017  0.106839  0.213647 -0.958825
C       NaN       NaN       NaN       NaN       NaN
D  1.202643 -0.469508  0.454881  0.041893  2.370110
E -1.983409 -0.246701 -1.423109 -1.664198 -0.453252
F  0.399205 -0.476011  0.181032  0.474728  0.459404

In [15]:
#Reindex quickly using the label-indexing with ix (we'll see this more in the future)

#Show original
dframe

       col1      col2      col3      col4      col5
A  0.322313 -0.009871 -0.637438  0.433644  1.307341
B  1.043108 -1.490017  0.106839  0.213647 -0.958825
D  1.202643 -0.469508  0.454881  0.041893  2.370110
E -1.983409 -0.246701 -1.423109 -1.664198 -0.453252
F  0.399205 -0.476011  0.181032  0.474728  0.459404

In [16]:
dframe.ix[['A','B','C','D','E','F'],new_columns]

AttributeError: 'DataFrame' object has no attribute 'ix'

In [26]:
dframe.drop(['A','D'])

       col1      col2      col3      col4      col5
B -1.530755  0.723356  2.249641  1.491468  0.736579
E -0.412306 -0.915389 -1.778008  0.643271  0.994059
F -1.423033  0.439230  0.027198  0.359547 -0.865396

In [27]:
dframe.drop('col1', axis=1)

       col2      col3      col4      col5
A  0.322835 -2.102498  0.762569 -0.304492
B  0.723356  2.249641  1.491468  0.736579
D  1.150216  0.914443  0.887306  1.185314
E -0.915389 -1.778008  0.643271  0.994059
F  0.439230  0.027198  0.359547 -0.865396