In [8]:
#Now we'll learn about Selecting Entries
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [9]:
#Lets try some Series indexing
ser1 = Series(np.arange(3),index=['A','B','C'])

#multiply all values by 2, to avoid confusion in future
ser1 = 2*ser1

#Show
ser1

A    0
B    2
C    4
dtype: int32

In [10]:
#Can grab entry by index name
ser1['B']

2

In [11]:
ser1[['A','C']]

A    0
C    4
dtype: int32

In [12]:
#Or grab by index 
ser1[1]

2

In [13]:
#Can also grab by index range
ser1[0:3]

A    0
B    2
C    4
dtype: int32

In [14]:
#Or grab range by range of index values
ser1[['A','B','C']]

A    0
B    2
C    4
dtype: int32

In [15]:
#Or grab by logic
ser1[ser1>3]

C    4
dtype: int32

In [16]:
#Can also ser using these methods
ser1[ser1>3] = 10

#Show
ser1

A     0
B     2
C    10
dtype: int32

In [17]:
#Now let's see sleection in a DataFrame

dframe = DataFrame(np.arange(25).reshape((5,5)),index=['NYC','LA','SF','DC','Chi'],columns=['A','B','C','D','E'])

#Show
dframe

      A   B   C   D   E
NYC   0   1   2   3   4
LA    5   6   7   8   9
SF   10  11  12  13  14
DC   15  16  17  18  19
Chi  20  21  22  23  24

In [18]:
#Select by column name
dframe['B']

NYC     1
LA      6
SF     11
DC     16
Chi    21
Name: B, dtype: int32

In [19]:
#Select by multiple columns
dframe[['B','E']]

      B   E
NYC   1   4
LA    6   9
SF   11  14
DC   16  19
Chi  21  24

In [39]:
dframe.loc['NYC':'SF':,'B':'D']

      B   C   D
NYC   1   2   3
LA    6   7   8
SF   11  12  13

In [25]:
dframe.iloc[0:2,0:2]

     A  B
NYC  0  1
LA   5  6

In [20]:
#Can also use boolean
dframe[dframe['C']>8]

      A   B   C   D   E
SF   10  11  12  13  14
DC   15  16  17  18  19
Chi  20  21  22  23  24

In [21]:
#Can also just shoe a boolean DataFrame
dframe> 10

         A      B      C      D      E
NYC  False  False  False  False  False
LA   False  False  False  False  False
SF   False   True   True   True   True
DC    True   True   True   True   True
Chi   True   True   True   True   True

In [23]:
dframe['C']> 10

NYC    False
LA     False
SF      True
DC      True
Chi     True
Name: C, dtype: bool

In [22]:
#Can alos use ix as previously discussed to label-index
dframe.ix['LA']

AttributeError: 'DataFrame' object has no attribute 'ix'

In [ ]:
#Another example
dframe.ix[1]

A    5
B    6
C    7
D    8
E    9
Name: LA, dtype: int32

In [ ]:
#Next we'll learn about data alignment!